 {% extends './dashboard/base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>






    <table class="table">
        <tbody>
            <tr>
                <th>IdEvent</th>
                <td>{{ evenement.idEvent }}</td>
            </tr>
            <tr>
                <th>NomEvent</th>
                <td>{{ evenement.nomEvent }}</td>
            </tr>
            <tr>
                <th>DescriptionEvent</th>
                <td>{{ evenement.descriptionEvent }}</td>
            </tr>
            <tr>
                <th>LieuEvent</th>
                <td>{{ evenement.lieuEvent }}</td>
            </tr>
            <tr>
                <th>TypeEvent</th>
                <td>{{ evenement.typeEvent }}</td>
            </tr>
            <tr>
                <th>DatedebutEvent</th>
                <td>{{ evenement.datedebutEvent ? evenement.datedebutEvent|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DatefinEvent</th>
                <td>{{ evenement.datefinEvent ? evenement.datefinEvent|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CapaciteEvent</th>
                <td>{{ evenement.capaciteEvent }}</td>
            </tr>
            <tr>
                <th>ImageEvent</th>
                <td>{{ evenement.imageEvent }}</td>
            </tr>
            <tr>
                <th>PrixEvent</th>
                <td>{{ evenement.prixEvent }}</td>
            </tr>
        </tbody>
    </table>
    
    <h2>Participation QR Code :</h2>
    <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=http%3A%2F%2F127.0.0.1%3A8000%2reserver%3Fevenement%3D{{ evenement.idEvent }}" />
    </br>
    <a href="{{ path('app_evenement_index') }}">back to list</a>

    <a href="{{ path('app_evenement_edit', {'idEvent': evenement.idEvent}) }}">edit</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}