{{ form_start(form) }}
    {{ form_widget(form) }}
         <hr style="background-color: white;">
            <hr style="background-color: white;">
            <hr style="background-color: white;">
         
    <button class="btn">{{ button_label|default('Reserver') }}</button>
{{ form_end(form) }}
<script src="{{ asset('js/custom.js') }}"></script>
