{% extends '/dashboard/base.html.twig' %}

{% block body %}
<style>
.text-danger {
    color: red;
}</style>

<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Form Basics</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item active" aria-current="page">Form Basics</li>
        </ol>
    </div>


    <!-- Form Basic -->
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary" style="color: #58080a !important;">Add Commande</h6>
        </div>
        <div class="card-body">
            {{ form_start(form2, {'action': path('app_panier_new')}) }}


            <div class="form-group">
                {{ form_label(form2.id_oeuvre) }}
                {{ form_widget(form2.id_oeuvre, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form2.id_user) }}
                {{ form_widget(form2.id_user, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form2.Quantity) }}
                {{ form_widget(form2.Quantity, {'attr': {'class': 'form-control' , 'id': 'quantityInput'}}) }}
            </div>
 {% if form_errors(form2.Quantity) %}
        <p class="text-danger">{{ form_errors(form2.Quantity) }}</p>
    {% endif %}            <button onclick="checkOrder(event)" type="submit" class="btn btn-primary" style="background-color: #8B0000; border-color: #8B0000; color: #fff;">Save</button>

            {{ form_end(form2) }}
        </div>
    </div>

 


    {% endblock  %}
